@dark: #451235;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: rgba(238, 238, 238, 0.35);
  color: @dark;
}

.example-wrapper {
  display: flex;
  justify-content: center;
}

.example-img {
  width: 200px;
  height: 200px;
  background-image: url('../imgs/vue.png');
  background-size: 100% 100%;
}